<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro de Estudiante</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="masterpage/header :: nav" />
<div class="container-fluid">
    <form th:action="@{/security/registerStudent.html}" th:object="${User}" method="post">
            <h3>Datos del usuario</h3>
            <div class="form-group">
                <label for="name">Nombre</label>:
                <input type="text" class="form-control" id="name" name="name" style="max-width: 350px"/>
                <form:errors cssClass="error"/>
            </div>
            <div class="form-group">
                <label for="surname">Apellidos</label>:
                <input type="text" class="form-control" id="surname" name="surname" style="max-width: 350px" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>:
                <input type="text" class="form-control" id="email" name="email" style="max-width: 350px" />
            </div>
            <div class="form-group">
                <label for="username">Nombre de Usuario</label>:
                <input type="text" class="form-control" id="username" name="username" style="max-width: 350px" />
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>:
                <input type="text" class="form-control" id="password" name="password" style="max-width: 350px" />
            </div>
            <div class="form-group">
                <label for="confPassword">Confirmar Contraseña</label>:
                <input type="text" class="form-control" id="confPassword" name="confPassword" style="max-width: 350px" />
            </div>
        <label>Confirmar Términos del Servicio:</label>
        <input type="checkbox" name="terms" th:checked="false" /><br />
        <input type="submit" name="saveStudent" value="Registrarse" />
    </form>
</div>
<div th:replace="masterpage/footer :: footer" />
</body>
</html>