<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Creación de Proyecto</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div th:replace="masterpage/headerUser :: nav"></div>
<br />
<br />
<div class="container py-4">
    <h3 class="my-4">
        Formulario de Proyecto
    </h3>
    <div class="container-fluid">
        <form th:action="@{/project/createProject}" th:object="${projectForm}" method="post">
            <h3>Datos del Proyecto</h3>
            <div class="form-group">
                <label for="name">Nombre</label>:
                <input type="text" class="form-control" id="name" name="name" style="max-width: 350px" th:field="*{name}"/>
                <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
            </div>
            <label>Confirmar Términos del Servicio:</label>
            <input type="checkbox" name="terms" th:checked="false" /><br />
            <input type="submit" name="saveProject" value="Crear" />
        </form>
    </div>
    <br />
    <br />
</div>
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>