<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro de Estudiante</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="masterpage/header :: nav" />
<div class="container-fluid">
    <h4>Proyectos</h4>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Ver más</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="project: ${projects}">
                    <td th:text="${project.getName()}" />
                    <td th:text="${project.getDescription()}" />
                    <td><a th:href="@{/project/projectData(projectId=${project.getId()})}">Click</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="masterpage/footer :: footer" />
</body>
</html>