<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenido/a</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/3-col-portfolio.css" rel="stylesheet">
</head>
<body>
<div th:if="${auth.equals('USER')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('ADMIN')}">
    <div th:replace="masterpage/headerAdmin :: nav"></div>
</div>
<div th:if="${auth.equals('DIRECTIVO')}">
    <div th:replace="masterpage/headerDirectivo :: nav"></div>
</div>
<div th:if="${auth.equals('')}">
    <div th:replace="masterpage/header :: nav"></div>
</div>
<div class="container">
    <h3 class="my-4">
        Proyecto <i th:text="${project.getName()}"></i>
    </h3>
    <div class="row">
        <div class="col-lg-6 col-sm-6 portfolio-item">
            <h5>Creador</h5>
            <span th:text="${user}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-sm-6 portfolio-item">
            <p>
                <div class="row">
                    <div class="col-lg-4 col-sm-4 portfolio-item">
                        <h5>Fecha de Inicio</h5>
                        <span th:text="${#dates.format(project.getStartDate(), 'dd/MM/yyyy')}"></span>
                    </div>
                    <div class="col-lg-4 col-sm-4 portfolio-item">
                        <h5>Fecha de Fín</h5>
                        <span th:text="${#dates.format(project.getFinishDate(), 'dd/MM/yyyy')}"></span>
                    </div>
                    <div class="col-lg-4 col-sm-4 portfolio-item">
                        <h5>Complejidad</h5>
                        <span th:text="${project.getComplexity()}"></span>
                    </div>
                </div>
            </p>
            <p>
                <h5>Descripción</h5>
                <span th:text="${project.getDescription()}"></span>
            </p>
            <p>
                <h5>Perfiles Requeridos</h5>
                <span th:text="${project.getRequiredProfiles()}"></span>
            </p>
        </div>
        <div class="col-lg-6 col-sm-6 portfolio-item">
            <img class="card-img-top" th:src="${project.getImage()}">
        </div>
    </div>
    <h4>Equipo</h4>
    <div class="row">
        <div class="col-lg-4 col-sm-4 portfolio-item">
            <h5>Nombre</h5>
            <span th:text="${team.getName()}"></span>
        </div>
        <div class="col-lg-4 col-sm-4 portfolio-item">
            <h5>Descripción</h5>
            <span th:text="${team.getDescription()}"></span>
        </div>
        <div class="col-lg-4 col-sm-4 portfolio-item">
            <h5>Número de Participantes</h5>
            <span th:text="${team.getParticipants()}"></span>
        </div>
    </div>
</div>
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>