<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Creación de Proyecto</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div th:replace="masterpage/headerUser :: nav"></div>
<br />
<br />
<div class="container py-4">
    <h3 class="my-4">
        Formulario de Proyecto
    </h3>
    <div class="container-fluid">
        <form th:action="@{/project/updateProject(projectId=${projectId})}" th:object="${projectForm}" method="post" enctype="multipart/form-data">
            <h3>Datos del Proyecto</h3>
            <div class="form-group">
                <label for="name">Nombre</label>:
                <input type="text" class="form-control" id="name" name="name" style="max-width: 350px" th:field="*{name}"/>
                <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
            </div>
            <div class="form-group">
                <label for="description">Descripcion</label>:
                <input type="text" class="form-control" id="description" name="description" style="max-width: 350px" th:field="*{description}"/>
                <li th:each="err : ${#fields.errors('description')}" th:text="${err}" />
            </div>
            <div class="form-group">
                <label for="requiredProfiles">Perfiles Demandados</label>:
                <input type="text" class="form-control" id="requiredProfiles" name="requiredProfiles" style="max-width: 350px" th:field="*{requiredProfiles}"/>
                <li th:each="err : ${#fields.errors('requiredProfiles')}" th:text="${err}" />
            </div>
            <div class="form-group">
                <label for="complexity">Complejidad</label>:
                <select style="max-width: 350px" id="complexity" name="complexity" class="form-control">
                    <option value="HIGH">DIFICIL</option>
                    <option value="LOW">FACIL</option>
                    <option value="MEDIUM">MEDIO</option>
                </select>
            </div>
            <div class="form-group">
                <label for="privado">Visibilidad</label>:
                <select style="max-width: 350px" id="privado" name="privado" class="form-control">
                    <option value="true">Privado</option>
                    <option value="false">Público</option>
                </select>
            </div>
            <div class="form-group">
                <label for="image">Imagen URL</label>:
                <input type="text" class="form-control" id="image" name="image" style="max-width: 350px" th:field="*{image}"/>
                <li th:each="err : ${#fields.errors('image')}" th:text="${err}" />
            </div>
            <div class="form-group">
                <label for="requiredProfiles">Máximo de Participantes</label>:
                <input type="text" class="form-control" id="maxParticipants" name="maxParticipants" style="max-width: 350px" th:field="*{maxParticipants}"/>
                <li th:each="err : ${#fields.errors('maxParticipants')}" th:text="${err}" />
            </div>
            <div class="form-group">
                <label for="attachedFiles">Archivos</label>:
                <input type="text" class="form-control" id="attachedFiles" name="attachedFiles" style="max-width: 350px" th:field="*{attachedFiles}"/>
                <li th:each="err : ${#fields.errors('attachedFiles')}" th:text="${err}" />
            </div>
            <label>Confirmar Términos del Servicio:</label>
            <input type="checkbox" name="terms" th:checked="false" /><br />
            <input type="submit" name="updateProject" value="Actualizar" />
        </form>
    </div>
    <br />
    <br />
</div>
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>