<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Comentarios</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/3-col-portfolio.css" rel="stylesheet">
    <link href="/css/cards.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div th:replace="masterpage/headerUser :: nav"></div>
<div class="container">
    <br />
    <br />
    <h3>Foro</h3>
    <div style="margin-top: 20px" class="row">
        <div th:each="reply : ${replies}" class="col-12 portfolio-item">
            <h5>Título</h5>
            <span th:text="${reply.getTitle()}" />
            <h5>Cuerpo</h5>
            <span th:text="${reply.getText()}"></span>
            <h5>Momento de publicación</h5>
            <span th:text="${reply.getMoment()}"></span>
            <a th:href="@{/forum/deleteReply(replyId=${reply.getId()})}"><i class="far fa-trash-alt"></i></a>
        </div>
    </div>
    <button type="submit" class="btn btn-info"><a style="color: white" th:href="@{/forum/createReply(forumId=${forumId}, projectId=${projectId}, commentId=${commentId})}">Nueva respuesta</a></button>
</div>
<br />
<br />
<br />
<br />
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>