<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
    <link rel="icon" href="/images/us.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/3-col-portfolio.css" rel="stylesheet">
    <link href="/css/cards.css" rel="stylesheet">
</head>
<body class="bg-light">
<div th:if="${auth.equals('USER')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('ADMIN')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('DIRECTIVO')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('')}">
    <div th:replace="masterpage/header :: nav"></div>
</div>
<div style="margin-top: -25px" class="container py-4">
    <h1 class="my-4">Filtrado
        <small>Blogs por Categoría</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <form id="formulario">
                <div class="form-group">
                    <label>Nombre de la Categoría</label>:
                    <input type="text" class="form-control" id="text" name="text" style="max-width: 350px"/>
                </div>
                <script>
                    var formulario = document.getElementById('formulario');
                    var text = document.getElementById('text');

                    formulario.onsubmit = function(e){
                        location = "/user/filtrarBlogsCategorias?category=" + encodeURIComponent(text.value);
                        return false;
                    }</script>
                <input type="submit" class="btn btn-info" value="Buscar" />
            </form>
        </div>
    </div>
    <div class="row">
        <div th:each="blog : ${blogs}" class="col-lg-6 col-sm-6 portfolio-item">
            <b th:text="${blog.getTitle()}"></b>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
</div>
<div th:replace="masterpage/footer :: footer" />
</body>
</html>