<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Perfiles</title>
    <link rel="icon" href="/images/us.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/3-col-portfolio.css" rel="stylesheet">
    <link href="/css/cards.css" rel="stylesheet">
</head>
<body class="bg-light">
<div th:if="${auth.equals('USER')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('ADMIN')}">
    <div th:replace="masterpage/headerAdmin :: nav"></div>
</div>
<div th:if="${auth.equals('DIRECTIVO')}">
    <div th:replace="masterpage/headerDirectivo :: nav"></div>
</div>
<div th:if="${auth.equals('')}">
    <div th:replace="masterpage/header :: nav"></div>
</div>
<div style="margin-top: -25px" class="container py-4">
    <h1 class="my-4">Filtrado
        <small>Perfiles por Etiquetas</small>
    </h1>
    <div class="row">
        <div class="col-12">
            <form id="formulario">
                <div class="form-group">
                    <label>Etiquetas</label>:
                    <input type="text" class="form-control" id="text" name="text" style="max-width: 350px"/>
                </div>
                <script>
                    var formulario = document.getElementById('formulario');
                    var text = document.getElementById('text');

                    formulario.onsubmit = function(e){
                        location = "/user/filtrarPerfilesPorEtiquetas?tag=" + encodeURIComponent(text.value);
                        return false;
                    }</script>
                <input type="submit" class="btn btn-info" value="Buscar" />
            </form>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div th:each="u : ${users}" class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
            <div class="row py-3">
                <div class="col-3">
                    <a th:href="@{/user/dataUser(userId=${u.getId()})}"><img alt='' class='card-img-profile' style="width: 40px; height: 40px;border-radius: 50%; border-width: 2px; border-color: white; margin-top: 7px" th:src="${u.getImage()}"></a>
                </div>
                <div class="col-9">
                    <a th:if="${u.getCurriculum().getRealized()==true}" th:href="@{/user/dataUser(userId=${u.getId()})}"><b style="color:#6c757d;font-family: Calibri"><span th:text="${u.getFullname()}" /></b></a> <br />
                    <a th:if="${u.getCurriculum().getRealized()==true}" style="color: grey" th:href="@{/user/filtrarPerfilGrado(grade=${u.getCurriculum().getGrade().getId()})}"><span  style="font-family: Calibri;font-size: 0.6em;display: flex; margin-top: -5px" th:text="${u.getCurriculum().getGrade().getName()}"></span></a>
                </div>
                <div th:if="${u.getTags().size() != 0}" style="text-align: left;margin-left: 10px; margin-right: 10px" class='card-title'>
                        <span th:each="tag : ${u.getTags()}" style="font-size: 0.8em; font-family: Calibri">
                            <a th:href="@{/user/filtrarPerfilesPorEtiquetas(tag=${tag.getName()})}"><span th:text="${tag.getName()}" class="badge badge-pill badge-info"></span></a>
                        </span>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>
<div th:replace="masterpage/footer :: footer" />
</body>
</html>