<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="icon" href="/images/us.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/3-col-portfolio.css" rel="stylesheet">
    <link href="/css/cards.css" rel="stylesheet">
    <link href="/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-light">
<div th:replace="masterpage/headerUser :: nav"></div>
<div style="margin-top: -25px" class="container py-4">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
            <br />
            <br />
            <br />
            <div style="margin-top: -12px" class='card card-profile text-center shadow-sm bg-white rounded'>
                <img alt='' class='card-img-top' style="max-height: 80px" th:src="@{/images/color-img.jpg}">
                <div class='card-block' style="margin-top: 47px">
                    <img alt='' class='card-img-profile' style="width: 90px; height: 90px; border-width: 2px; border-color: white" th:src="${user.getImage()}">
                    <h6 style="margin-top: -23px" class='card-title'>
                        <span th:text="${user.getFullname()}" /> <br />
                        <span style="font-size: 0.8em" th:text="${user.getAccount().getEmail()}"></span><br />
                    </h6>
                    <div th:if="${user.getCurriculum().getRealized()==true}" style="margin-top: -23px" class='card-title'>
                        <a style="font-family: Calibri;font-size: 0.9em;color: grey; margin: 5px" th:href="@{/user/filtrarPerfilGrado(grade=${user.getCurriculum().getGrade().getId()})}"><span style="font-size: 0.8em" th:text="${user.getCurriculum().getGrade().getName()}"></span></a>
                    </div>
                    <div th:if="${user.getCurriculum().getRealized()==true}" class='card-links'>
                        <a style="color: black" th:href="${user.getCurriculum().getUrlLinkedin()}"><i class="fab fa-linkedin" style="color: #3b5999"></i></a>
                    </div>
                    <div th:if="${user.getCurriculum().getRealized()==false}" class='card-links'>
                        <a th:href="@{/user/curriculum/createCurriculum}"><button type="button" style="color: white" class="btn btn-warning">Crear Curriculum</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 portfolio-item">
            <br />
            <br />
            <div style="margin-top: 10px" class="row">
                <div th:each="project : ${projects}" th:if="${!project.getCerrado()}" class="col-12" style="margin-bottom: 16px">
                    <div class="card h-100">
                        <div>
                            <span th:each="user : ${users}" th:if="${user.getProjects().contains(project)}">
                                <div class="row">
                                    <div class="col-1">
                                        <a th:href="@{/user/dataUser(userId=${user.getId()})}"><img alt='' class='card-img-profile' style="width: 35px; height: 35px;border-radius: 50%; border-width: 2px; border-color: white; margin: 6px 6px 6px 16px" th:src="${user.getImage()}"></a>
                                    </div>
                                    <div style="color: rgba(0,0,0,.6); font-family: Calibri" class="col-11">
                                        <a style="color: grey" th:href="@{/user/dataUser(userId=${user.getId()})}"><b><span style="display: block;margin-top: 5px;margin-left: 15px" th:text="${user.getFullname()}"></span></b></a>
                                        <a th:if="${user.getCurriculum().getRealized()==true}" style="color: grey" th:href="@{/user/filtrarPerfilGrado(grade=${user.getCurriculum().getGrade().getId()})}"><span style="font-size: 0.8em; display: flex; margin-top: -5px;margin-left: 15px" th:text="${user.getCurriculum().getGrade().getName()}"></span></a>
                                    </div>
                                </div>
                            </span>
                        </div>
                        <a th:href="@{/project/projectData(projectId=${project.getId()})}"><img class="card-img-top" th:src="${project.getImage()}"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a th:href="@{/project/projectData(projectId=${project.getId()})}" th:text="${project.getName()}"></a>
                            </h4>
                            <p class="card-text" th:if="${project.getDescription().length() < 150}" th:text="${project.getDescription()}"></p>
                            <p class="card-text" th:if="${project.getDescription().length() >= 150}" th:text="${project.getDescription().substring(0,120).concat('...')}"></p>
                            <h5>Perfiles Requeridos</h5>
                            <p class="card-text" th:if="${project.getRequiredProfiles().length() < 150}" th:text="${project.getRequiredProfiles()}"></p>
                            <p class="card-text" th:if="${project.getRequiredProfiles().length() >= 150}" th:text="${project.getRequiredProfiles().substring(0,120).concat('...')}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
            <br />
            <br />
            <h6 style="margin-top: 7px">Perfiles mejor valorados</h6>
            <div style="margin-top: 13px" class="row">
                <div th:each="u : ${usuariosMejorValorados}" class="col-12">
                    <div style="background-color: whitesmoke" class="row py-3">
                        <div class="col-3">
                            <a th:href="@{/user/dataUser(userId=${u.getId()})}"><img alt='' class='card-img-profile' style="width: 40px; height: 40px;border-radius: 50%; border-width: 2px; border-color: white; margin-top: 7px" th:src="${u.getImage()}"></a>
                        </div>
                        <div class="col-9">
                            <a th:if="${u.getCurriculum().getRealized()==true}" th:href="@{/user/dataUser(userId=${u.getId()})}"><b style="color:#6c757d;font-family: Calibri"><span th:text="${u.getFullname()}" /></b></a> <br />
                            <a th:if="${u.getCurriculum().getRealized()==true}" style="color: grey" th:href="@{/user/filtrarPerfilGrado(grade=${u.getCurriculum().getGrade().getId()})}"><span  style="font-family: Calibri;font-size: 0.6em;display: flex; margin-top: -5px" th:text="${u.getCurriculum().getGrade().getName()}"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="masterpage/footer :: footer" />
</body>
</html>