<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar Datos de Usuario</title>
    <link rel="icon" href="/images/us.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div th:replace="masterpage/headerUser :: nav"></div>
<br />
<br />
<div class="container py-4">
    <h3 class="my-4">
        Formulario de Usuario
    </h3>
    <span style="display: none" id="etiquetas" th:text="${etiquetas}"></span>
    <div onload="etiquetasSeparadas()" id="etiqInputs">

    </div>
</div>
<script>
    var etiquetas = document.getElementById('etiquetas').innerHTML.split(",");
    function etiquetasSeparadas(){
        for(var i = 0; i <= etiquetas.length; i++){
            document.getElementById("etiqInputs").innerHTML = "<b>"+etiquetas[i]+"</b>";

        }
    }
</script>
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>