<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mis Datos</title>
    <link rel="icon" href="/images/us.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/3-col-portfolio.css" rel="stylesheet">
    <link href="/css/cards.css" rel="stylesheet">
    <style>
        .card-img-profile2 {
            max-width: 100%;
            margin-top: -95px;
            margin-bottom: 35px;
        }
        .card-profile2 {
            width: 100%;
            max-height: 350px;
            margin: 50px auto;
            background-color: gold;
            border-radius: 0;
            border: 0;
            box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body class="bg-light">
<div th:if="${auth.equals('USER')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('ADMIN')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('DIRECTIVO')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('')}">
    <div th:replace="masterpage/header :: nav"></div>
</div>
<div style="margin-top: -25px" class="container py-4">
    <h1 class="my-4">RedTalent
        <small>Mis Datos</small>
    </h1>
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div style="margin-top: -12px" class='card card-profile text-center'>
                <img alt='' class='card-img-top' th:src="@{/images/color-img.jpg}">
                <div class='card-block'>
                    <img alt='' class='card-img-profile' th:src="${user.getImage()}">
                    <h4 style="margin-top: -23px" class='card-title'>
                        <i th:text="${user.getFullname()}" />
                        <small th:text="${user.getAccount().getEmail()}"></small>
                    </h4>
                    <div class='card-links'>
                        <a class='fa fa-dribbble' href='#'></a>
                        <a class='fa fa-twitter' href='#'></a>
                        <a class='fa fa-facebook' href='#'></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Mis Proyectos</h2>
    <div th:if="${projects.size() == 0}" class="row">
        <div style="margin-top: -12px" class='card card-profile2 text-center col-12'>
            <h1 style="background-color: gold; margin-top: 10px">NO EXISTEN PROYECTOS</h1>
            <span style="margin-bottom: 10px">Crea tu primer proyecto <a href="/project/createProject">aquí</a></span>
        </div>
    </div>
    <div th:if="${projects.size() != 0}" class="row">
        <div th:each="project : ${projects}" class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a th:href="@{/project/allProjectData(projectId=${project.getId()})}"><img class="card-img-top" th:src="${project.getImage()}"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/project/allProjectData(projectId=${project.getId()})}" th:text="${project.getName()}"></a>
                    </h4>
                    <p class="card-text" th:if="${project.getDescription().length() < 150}" th:text="${project.getDescription()}"></p>
                    <p class="card-text" th:if="${project.getDescription().length() >= 150}" th:text="${project.getDescription().substring(0,120).concat('...')}"></p>
                </div>
            </div>
        </div>
    </div>
    <h2>Mis Equipos</h2>
    <div th:if="${user.getTeams().size() == 0}" class="row">
        <div style="margin-top: -12px" class='card card-profile2 text-center col-12'>
            <h2>No tiene ningún equipo creado</h2>
        </div>
    </div>
    <div style="margin-top: +20px" th:if="${user.getTeams().size() != 0}" class="row">
        <div th:each="team : ${user.getTeams()}" class="col-lg-4 col-sm-6 portfolio-item">
            <div style="margin-top: -12px" class='card card-profile text-center'>
                <img class="card-img-top" th:src="@{/images/color-img2.jpg}">
                <div class='card-block'>
                    <a th:href="@{/team/teamData(teamId=${team.getId()})}"><img alt='' class='card-img-profile2' th:src="${team.getImage()}"></a>
                    <h4 style="margin-top: -23px" class='card-title'>
                        <a th:href="@{/team/teamData(teamId=${team.getId()})}"><i th:text="${team.getName()}" /></a>
                        <small th:text="${team.getDescription()}"></small>
                    </h4>
                    <div class='card-links'>
                        <a class='fa fa-dribbble' href='#'></a>
                        <a class='fa fa-twitter' href='#'></a>
                        <a class='fa fa-facebook' href='#'></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 portfolio-item">
            <a type="button" class="btn btn-info" href="/user/cambiarContraseña">Modificar Contraseña</a>
            <a type="button" class="btn btn-info" href="/user/updateUser">Modificar Datos de Usuario</a>
            <a th:if="${user.getCurriculum()==null}" type="button" class="btn btn-info" href="/user/curriculum/createCurriculum">Añadir Mi Curriculum</a>
        </div>
    </div>
</div>
<div th:replace="masterpage/footer :: footer" />
</body>
</html>