<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Dashboard</title>
    <link rel="icon" href="/images/us.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/3-col-portfolio.css" rel="stylesheet">
    <link href="/css/cards.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/datatable.css" rel="stylesheet">
    <link href="/css/all.min.css" rel="stylesheet">

    <script>
        function verTablaEquipo() {
            document.getElementById("tablaProyectos").style = "display: none";
            document.getElementById("tablaUsuarios").style = "display: none";
            document.getElementById("tablaEquipos").style = "display: block";
            document.getElementById("tablaCategorias").style = "display: none";
            document.getElementById("textoTitulos").innerHTML = "Tabla de Equipos";
        }

        function verTablaProyecto() {
            document.getElementById("tablaProyectos").style = "display: block";
            document.getElementById("tablaUsuarios").style = "display: none";
            document.getElementById("tablaEquipos").style = "display: none";
            document.getElementById("tablaCategorias").style = "display: none";
            document.getElementById("textoTitulos").innerHTML = "Tabla de Proyectos";
        }

        function verTablaUsuario() {
            document.getElementById("tablaProyectos").style = "display: none";
            document.getElementById("tablaUsuarios").style = "display: block";
            document.getElementById("tablaEquipos").style = "display: none";
            document.getElementById("tablaCategorias").style = "display: none";
            document.getElementById("textoTitulos").innerHTML = "Tabla de Usuarios";
        }

        function verTablaCategoria() {
            document.getElementById("tablaProyectos").style = "display: none";
            document.getElementById("tablaUsuarios").style = "display: none";
            document.getElementById("tablaEquipos").style = "display: none";
            document.getElementById("tablaCategorias").style = "display: block";
            document.getElementById("textoTitulos").innerHTML = "Tabla de Categorías";
        }
    </script>
</head>
<body>
<div th:if="${auth.equals('USER')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('ADMIN')}">
    <div th:replace="masterpage/headerAdmin :: nav"></div>
</div>
<div th:if="${auth.equals('DIRECTIVO')}">
    <div th:replace="masterpage/headerDirectivo :: nav"></div>
</div>
<div th:if="${auth.equals('')}">
    <div th:replace="masterpage/header :: nav"></div>
</div>
<div id="wrapper">
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/directivo/dashboardDirectivo">
                <i style="margin-top: 20px" class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/directivo/estadisticas">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Estadísticas</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/directivo/verTags">
                <i class="fas fa-fw fa-table"></i>
                <span>Etiquetas</span></a>
        </li>
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li style="color:blue" class="breadcrumb-item">
                    Dashboard
                </li>
                <li id="textoTitulos" class="breadcrumb-item active">Tabla de Proyectos</li>
            </ol>

            <!-- Icon Cards-->
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-project-diagram"></i>
                            </div>
                            <div class="mr-5"><i th:text="${projects.size()}"></i> Proyectos</div>
                        </div>
                        <a onclick="verTablaProyecto()" class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Ver Detalles</span>
                            <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-users"></i>
                            </div>
                            <div class="mr-5"><i th:text="${teams.size()}"></i> Equipos</div>
                        </div>
                        <a onclick="verTablaEquipo()" class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Ver Detalles</span>
                            <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="mr-5"><i th:text="${users.size()}"></i> Usuarios</div>
                        </div>
                        <a onclick="verTablaUsuario()" class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Ver Detalles</span>
                            <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-tags"></i>
                            </div>
                            <div class="mr-5"><i th:text="${categorias.size()}"></i> Categorías</div>
                        </div>
                        <a onclick="verTablaCategoria()" class="card-footer text-white clearfix small z-1" href="#">
                            <span class="float-left">Ver Detalles</span>
                            <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                  </span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- DataTable Equipos -->
            <div style="display: none" id="tablaEquipos" class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Tabla de Equipos</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Nota Media</th>
                                <th>Proyecto Asociado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="team,iter : ${teams}">
                                <td th:text="${team.getName()}"></td>
                                <td th:text="${team.getDescription()}"></td>
                                <td th:text="${evaluationsTeam.get(iter.index)}"></td>
                                <td th:text="${team.getProjects().get(0).getName()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- DataTable Categorías -->
            <div style="display: none" id="tablaCategorias" class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Tabla de Categorías</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="categoria : ${categorias}">
                                <td th:text="${categoria.getName()}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- DataTable Proyectos -->
            <div id="tablaProyectos" class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Tabla de Proyectos</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Imagen</th>
                                <th>Descripción</th>
                                <th>Privado</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="project : ${projects}">
                                <td th:text="${project.getName()}"></td>
                                <td><img style="width: 45px" th:src="${project.getImage()}"></td>
                                <td th:text="${project.getDescription()}"></td>
                                <td th:if="${project.getPrivado()}">Si</td>
                                <td th:if="${!project.getPrivado()}">No</td>
                                <td th:if="${project.getEstado()}">Cerrado</td>
                                <td th:if="${!project.getEstado()}">Abierto</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- DataTable Usuarios -->
            <div style="display: none" id="tablaUsuarios" class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Tabla de Usuarios</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Nombre y Apellidos</th>
                                <th>Imagen</th>
                                <th>Email</th>
                                <th>Estado</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.getFullname()}"></td>
                                <td><img style="width: 15%" th:src="${user.getImage()}"></td>
                                <td th:text="${user.getAccount().getEmail()}"></td>
                                <td th:if="${user.getAccount().isEnabled()}">Baneado</td>
                                <td th:if="${!user.getAccount().isEnabled()}">Acceso al Sistema</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Universidad de Sevilla</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Bootstrap core JavaScript-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/js/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="/js/jquery.dataTables.js"></script>
<script src="/js/dataTables.bootstrap4.js"></script>

<script src="/js/sb-admin.js"></script>

</body>
</html>