<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Error 403</title>
    <link rel="icon" href="/images/us.ico">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:if="${auth.equals('USER')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('ADMIN')}">
    <div th:replace="masterpage/headerAdmin :: nav"></div>
</div>
<div th:if="${auth.equals('DIRECTIVO')}">
    <div th:replace="masterpage/headerDirectivo :: nav"></div>
</div>
<div th:if="${auth.equals('')}">
    <div th:replace="masterpage/header :: nav"></div>
</div>
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-12 portfolio-item">
            <h1>ERROR 403</h1>
            <h4>USTED NO TIENE LOS PERMISOS PARA ACCEDER AL SITIO</h4>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-12 portfolio-item" style="text-align: center">
            <img class="img-fluid" style="max-width: 25%" th:src="@{/images/403.png}" />
        </div>
    </div>
</div>
<br />
<br />
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>