<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenido/a</title>
    <link rel="icon" href="images/us.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/3-col-portfolio.css" rel="stylesheet">
</head>
<body class="bg-light">
<div th:if="${auth.equals('USER')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('ADMIN')}">
    <div th:replace="masterpage/headerAdmin :: nav"></div>
</div>
<div th:if="${auth.equals('DIRECTIVO')}">
    <div th:replace="masterpage/headerDirectivo :: nav"></div>
</div>
<div th:if="${auth.equals('')}">
    <div th:replace="masterpage/header :: nav"></div>
</div>
<div class="container py-4">
    <h1 class="my-4">RedTalent
        <small>Haz realidad tus ideas</small>
    </h1>
    <h4 class="text-center">Encuentra el equipo perfecto para construir tus ideas</h4>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h4>¿Que es Red Talent?</h4>
            <p>
                Red Talent es una plataforma en la cuál alumnos, docentes y egresados de la Universidad de Sevilla pueden encontrar equipos multidisciplinares para llevar a cabo sus proyectos.
            </p>
            <h4>¿Cómo funciona?</h4>
            <p>
                Es muy sencillo, sólo tienes que <a href="/registro/registerUser">registrarte</a> y exponer tu idea al público. Ellos valorarán la idea y podréis formar un equipo.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h4>¿Qué perfiles pueden acceder?</h4>
            <p>
                Todos estáis invitados a exponer vuestras ideas y formar parte de nuestro equipo.
            </p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
</div>
<div th:replace="masterpage/footer :: footer" />
</body>
</html>