<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div th:replace="masterpage/header :: nav" />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div  class="col-lg-6 col-sm-6 portfolio-item">
            <h3 class="my-4">
                Login
            </h3>
            <form class="form-signin" th:action="@{/login}" method="post">
                <h1 class="h3 mb-3 font-weight-normal">Porfavor, Inicie sesión</h1>
                <div th:if="${param.error}">
                    Correo Electrónico o Contraseña Inválidos
                </div>
                <div th:if="${param.logout}">
                    Usted ha sido desconectado.
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="sr-only">Correo Electrónico</label>
                    <input class="form-control" style="max-width: 350px" type="email" name="email" id="inputEmail" placeholder="Email" required="" />
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input class="form-control" style="max-width: 350px" type="password" name="password" id="inputPassword" placeholder="Password" required="" />
                </div>
                <button type="submit" class="btn btn-info">Inicie Sesión</button>
            </form>
        </div>
        <div style="text-align: center" class="col-lg-6 col-sm-6 portfolio-item">
            <img class="card-img-top img-fluid" style="max-width: 400px" th:src="@{/images/logous.png}">
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>