<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Registro de Estudiante</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="masterpage/header :: nav" />
<div layout:fragment="content">
    <form class="form-signin" th:action="@{/signup}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Regístrese ahora</h1>
        <div th:if="${param.error}">
            Correo Electrónico o Contraseña Inválidos
        </div>
        <div th:if="${param.logout}">
            Usted ha sido desconectado.
        </div>
        <label for="inputUsername" class="sr-only">Email</label>
        <input type="email" name="email" id="inputEmail" placeholder="Email" required="" />
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" name="password" id="inputPassword" placeholder="Contraseña" required="" />
        <label for="inputRole" class="sr-only">Role</label>
        <select type="role" name="role" placeholder="Role" required="">
            <option value="ESTUDIANTE">ESTUDIANTE</option>
            <option value="PROFESOR">PROFESOR</option>
            <option value="EGRESADO">EGRESADO</option>
        </select>
        <label for="inputFullname" class="sr-only">Nombre</label>
        <input type="text" name="fullname" id="inputEmail" placeholder="Nombre" required="" />
        <button type="submit">Sign Up</button>
    </form>
    <form class="form-signin" th:action="@{/login}" method="get">
        <button type="Submit">Sign In</button>
    </form>
</div>
</body>
</html>