<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Datos del Equipo</title>
    <link rel="icon" href="/images/us.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/3-col-portfolio.css" rel="stylesheet">
    <link href="/css/cards.css" rel="stylesheet">
</head>
<body>
<div th:if="${auth.equals('USER')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('ADMIN')}">
    <div th:replace="masterpage/headerAdmin :: nav"></div>
</div>
<div th:if="${auth.equals('DIRECTIVO')}">
    <div th:replace="masterpage/headerDirectivo :: nav"></div>
</div>
<div th:if="${auth.equals('')}">
    <div th:replace="masterpage/header :: nav"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="my-4">
                Equipo <i th:text="${team.getName()}"></i>
            </h3>
        </div>
        <div style="text-align: center; margin-top: 35px" class="col-6">
            <span class="my-4">
                <a th:if="${userP.getTeams().contains(team)}" th:href="@{/team/updateTeam(teamId=${team.getId()})}"><button type="button" class="btn btn-primary"> Actualizar Equipo </button></a>
            </span>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <h3 class="my-4" style="font-family: Calibri" th:text="${team.getName()}">
            </h3>
            <p style="font-family: Calibri" th:text="${team.getDescription()}"></p>
        </div>
        <div style="font-family: Calibri; font-size: 1em; text-align: center" class="col-sm-12 col-md-6 col-lg-6">
            <img alt='' class='card-img-profile' style="max-width: 350px; max-height: 200px;border-width: 2px; border-color: white" th:src="${team.getImage()}">
        </div>
    </div>
    <div th:if="${team.getProjects().size() == 0}" class="row">
        <div style="margin-top: -12px" class='card card-profile2 text-center col-12'>
            <h1 style="background-color: gold; margin-top: 10px">NO EXISTEN PROYECTOS</h1>
            <span style="margin-bottom: 10px">Crea tu primer proyecto <a href="/project/createProject">aquí</a></span>
        </div>
    </div>
    <div th:if="${team.getProjects().size() != 0}" class="row">
        <div th:each="project : ${team.getProjects()}" class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a th:href="@{/project/projectData(projectId=${project.getId()})}"><img class="card-img-top" th:src="${project.getImage()}"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/project/projectData(projectId=${project.getId()})}" th:text="${project.getName()}"></a>
                    </h4>
                    <p class="card-text" th:if="${project.getDescription().length() < 150}" th:text="${project.getDescription()}"></p>
                    <p class="card-text" th:if="${project.getDescription().length() >= 150}" th:text="${project.getDescription().substring(0,120).concat('...')}"></p>
                </div>
            </div>
        </div>
    </div>

    <h3 class="my-4">
        Trabaja en los Proyectos
    </h3>
    <div class="row">
        <div th:each="user : ${usuariosTeam}" class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
            <div style="margin-top: -12px" class='card card-profile text-center shadow-sm bg-white rounded'>
                <img alt='' class='card-img-top' style="max-height: 80px" th:src="@{/images/color-img.jpg}">
                <div class='card-block' style="margin-top: 47px">
                    <img alt='' class='card-img-profile' style="width: 90px; height: 90px; border-width: 2px; border-color: white" th:src="${user.getImage()}">
                    <h6 style="margin-top: -23px" class='card-title'>
                        <span th:text="${user.getFullname()}" /> <br />
                        <span style="font-size: 0.8em" th:text="${user.getAccount().getEmail()}"></span><br />
                    </h6>
                    <div th:if="${user.getCurriculum().getRealized()==true}" style="margin-top: -23px" class='card-title'>
                        <a style="font-family: Calibri;font-size: 0.9em;color: grey; margin: 5px" th:href="@{/user/filtrarPerfilGrado(grade=${user.getCurriculum().getGrade().getId()})}"><span style="font-size: 0.8em" th:text="${user.getCurriculum().getGrade().getName()}"></span></a>
                    </div>
                    <div th:if="${user.getCurriculum().getRealized()==true}" class='card-links'>
                        <a style="color: black" th:href="${user.getCurriculum().getUrlLinkedin()}"><i class="fab fa-linkedin" style="color: #3b5999"></i></a>
                    </div>
                    <div th:if="${user.getCurriculum().getRealized()==false}" class='card-links'>
                        <a th:href="@{/user/curriculum/createCurriculum}"><button type="button" style="color: white" class="btn btn-warning">Crear Curriculum</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${auth.equals('USER')}" class="row">
        <div class="col-12 portfolio-item">
            <a type="button" class="btn btn-info" th:href="@{/application/solicitudesEquipo(teamId=${team.getId()})}">Solicitudes al Equipo</a>
        </div>
    </div>
</div>
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>