<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Datos del Equipo</title>
    <link rel="icon" href="/images/us.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/3-col-portfolio.css" rel="stylesheet">
    <link href="/css/cards.css" rel="stylesheet">
    <link href="/css/all.min.css" rel="stylesheet">
</head>
<body>
<div th:if="${auth.equals('USER')}">
    <div th:replace="masterpage/headerUser :: nav"></div>
</div>
<div th:if="${auth.equals('ADMIN')}">
    <div th:replace="masterpage/headerAdmin :: nav"></div>
</div>
<div th:if="${auth.equals('DIRECTIVO')}">
    <div th:replace="masterpage/headerDirectivo :: nav"></div>
</div>
<div th:if="${auth.equals('')}">
    <div th:replace="masterpage/header :: nav"></div>
</div>
<div style="margin-top: 10px" class="container">
    <div class="row">
        <table class="table table-bordered table-active">
            <thead>
                <tr style="text-align: center; color: black">
                    <th onclick="verTablaInformacion()" scope="col"><i class="fas fa-project-diagram"></i>&nbsp;&nbsp;Información</th>
                    <th onclick="verTablaComentario()" scope="col"> <i class="fas fa-users"></i>&nbsp;&nbsp;Comentarios</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="tablaInformacion" class="container">
    <div class="row">
        <div class="col-6">
            <h3 class="my-4">
                Equipo <i th:text="${team.getName()}"></i>
            </h3>
        </div>
        <div style="text-align: center; margin-top: 35px" class="col-6">
            <span class="my-4">
                <a th:if="${userP.getTeams().contains(team)}" th:href="@{/team/updateTeam(teamId=${team.getId()})}"><button type="button" class="btn btn-primary"> Actualizar Equipo </button></a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p style="font-family: Calibri; margin-top: 10px" th:text="${team.getDescription()}"></p>
        </div>
    </div>
    <div th:if="${team.getProjects().size() == 0}" class="row">
        <div style="margin-top: -12px" class='card card-profile2 text-center col-12'>
            <h1 style="background-color: gold; margin-top: 10px">NO EXISTEN PROYECTOS</h1>
        </div>
    </div>
    <div th:if="${team.getProjects().size() != 0}" class="row">
        <div th:each="project : ${team.getProjects()}" class="col-lg-4 col-sm-6 portfolio-item">
            <h3 class="my-4">
                Proyecto <i th:text="${project.getName()}"></i>
            </h3>
            <div class="card h-100">
                <a th:href="@{/project/projectData(projectId=${project.getId()})}"><img class="card-img-top" th:src="${project.getImage()}"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a th:href="@{/project/projectData(projectId=${project.getId()})}" th:text="${project.getName()}"></a>
                    </h4>
                    <p class="card-text" th:if="${project.getDescription().length() < 150}" th:text="${project.getDescription()}"></p>
                    <p class="card-text" th:if="${project.getDescription().length() >= 150}" th:text="${project.getDescription().substring(0,120).concat('...')}"></p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <h3 class="my-4">
        Usuarios que participan:
    </h3>
    <div class="row">
        <div th:each="user : ${usuariosTeam}" class="col-lg-3 col-md-6 col-sm-12 portfolio-item">
            <div style="margin-top: -12px" class='card card-profile text-center shadow-sm bg-white rounded'>
                <div class='card-block' style="margin-top: 110px">
                    <img alt='' class='card-img-profile' style="width: 90px; height: 90px; border-width: 2px; border-color: white" th:src="${user.getImage()}">
                    <h6 style="margin-top: -23px" class='card-title'>
                        <span th:text="${user.getFullname()}" /> <br />
                        <span style="font-size: 0.8em" th:text="${user.getAccount().getEmail()}"></span><br />
                    </h6>
                    <div th:if="${user.getCurriculum().getRealized()==true}" style="margin-top: -23px" class='card-title'>
                        <a style="font-family: Calibri;font-size: 0.9em;color: grey; margin: 5px" th:href="@{/user/filtrarPerfilGrado(grade=${user.getCurriculum().getGrade().getId()})}"><span style="font-size: 0.8em" th:text="${user.getCurriculum().getGrade().getName()}"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="tablaComentarios" style="display: none" class="container">
    <div style="min-height: 450px">
    <h3>Comentarios</h3>
    <div th:if="${team.getComments().size() == 0}" class="row">
        <p style="margin-left: 16px;font-family: Calibri">No tiene comentarios recibidos</p>
        <a th:href="@{/comment/team/create(teamId=${team.getId()})}"><button type="button" class="btn btn-primary">Realiza el primer comentario</button></a>
    </div>
    <div style="margin-top: +20px" th:if="${team.getComments().size() != 0}" class="row">
       <div class="col-12">
           <div class="row">
               <div style="margin-bottom: 5px" class="col-12">
                   <a th:href="@{/comment/team/create(teamId=${team.getId()})}"><button type="button" class="btn btn-primary">Comentar</button></a>
               </div>
               <div class="col-12">
                  <div class="row">
                      <div th:each="comment : ${team.getComments()}" class="col-lg-4 col-md-6 col-sm-12 portfolio-item" style="margin-bottom: 16px">
                          <div class="card h-100">
                    <span th:each="u : ${users}" th:if="${u.getComments().contains(comment)}">
                        <div class="row">
                            <div class="col-2">
                                <a th:href="@{/user/dataUser(userId=${u.getId()})}"><img alt='' class='card-img-profile' style="width: 35px; height: 35px;border-radius: 50%; border-width: 2px; border-color: white; margin: 14px 6px 6px 16px" th:src="${u.getImage()}"></a>
                            </div>
                            <div style="color: rgba(0,0,0,.6); font-family: Calibri" class="col-10">
                                <a th:href="@{/user/dataUser(userId=${u.getId()})}"><b><span style="display: block;margin-top: 5px;margin-left: 4px" th:text="${u.getFullname()}"></span></b></a>
                                <a style="color: grey" th:href="@{/user/filtrarPerfilGrado(grade=${u.getCurriculum().getGrade().getId()})}"><span th:if="${u.getCurriculum().getRealized()==true}" style="font-size: 0.8em; display: flex; margin-top: -5px;margin-left: 4px; margin-right: 4px" th:text="${u.getCurriculum().getGrade().getName()}"></span></a>
                            </div>
                        </div>
                    </span>
                              <div class="card-body">
                                  <b style="font-family: Calibri" th:text="${comment.getTitle()}"></b>
                                  <p style="font-family: Calibri" th:text="${comment.getText()}"></p>
                                  <div style="text-align: right;font-size: 0.6em">
                                      <span th:text="${#dates.format(comment.getMoment(), 'dd-MM-yyyy')}"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
               </div>
           </div>
       </div>

    </div>
    </div>
</div>
<script>
    function verTablaInformacion() {
        document.getElementById("tablaInformacion").style = "display: block";
        document.getElementById("tablaComentarios").style = "display: none";
    }
    function verTablaComentario() {
        document.getElementById("tablaInformacion").style = "display: none";
        document.getElementById("tablaComentarios").style = "display: block";
    }
</script>
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>