<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Nuevo departamento</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen" />
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body class="bg-light">
<div th:replace="masterpage/headerUser :: nav"></div>
<br />
<br />
<div class="container py-4">
    <h3 class="my-4">
        Nuevo departamento
    </h3>
    <div class="container-fluid">
        <form th:action="@{/department/create(areaId=${areaId})}" th:object="${departmentForm}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="department">Departamento</label>:
                <input type="text" class="form-control" id="department" name="department" style="max-width: 350px" th:field="*{department}"/>
                <li th:each="err : ${#fields.errors('department')}" th:text="${err}" />
            </div>
            <!-- <div class="form-group row">
                <select class="form-control" id="area" name="area">
                    <option value="0">Seleccionar área</option>
                    <option th:each="area : ${areas}"
                            th:value="${area.id}"
                            th:text="${area.area}"></option>
                </select>
            </div> -->
            <input type="submit" name="save" value="Crear" />
        </form>
    </div>
    <br />
    <br />
</div>
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>