<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bienvenido/a</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/3-col-portfolio.css" rel="stylesheet">
</head>
<body>
<div th:replace="masterpage/headerAdmin :: nav"></div>
<div class="container">
    <h5>Facultades</h5>
    <div class="row">
        <div th:each="department : ${departments}" class="col-lg-3 col-sm-6 portfolio-item">
            <span th:text="${department.getDepartment()}"></span>
        </div>
    </div>
</div>
<div th:replace="masterpage/footer :: footer"></div>
</body>
</html>